.float-main-container{
    width: calc(100% - 80px);
    margin: 0 auto;
    background-color: lightblue;
    text-align: center;
    margin: 40px;
    border: 2px solid #666;
}
.float-header{
    background: #666;
    color: #fff;
    font-size: 40px;
    height: 100px;
    text-align: center;
    line-height: 100px;
}
.float-footer{
    height: 70px;
    text-align: center;
    line-height: 70px;
    font-size: 20px;
    color: #fff;
    background: #666;
}
.float-middle{
    height: calc(100vh - 170px);
    position: relative;
}
.float-middle-left{
    width: 35%;
    float: left;
    background: #ccc;
    height: 100%;
}
/* lets suppose hame ab pragraph teg ko center align karna hai 
to ham kya karenge */
.float-middle-left p{
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin: 0;
    left: 15%;
}
.float-middle-right{
    width: 65%;
    float: right;
    background: #fff;
    padding-left: 20px;
    padding-top: 40px;
    font-size: 20px;
    height: 100%;
}
.float-middle-right-title{
    font-weight: bold;
    margin-bottom: 10px;
    text-align: left;
}
.float-middle-right-paragraph{
    margin: 20px 0;
    text-align: left;
    line-height: 1.3;
    letter-spacing: 1.5px;
}
/* 
yaha par mere middle boxes left and right ki height as per middle box nahi aa rahi thi to 
mujhe pahle .float-middle container class ko position relative deni padi tab
mene .float-middle-left and .float-middle-right me hight 100% use ki to wo sahi aa gaya */